<h1>This is the campground page</h1>



<% campgrounds.forEach(function(campground) { %>
    <div>
        <%= campground.name  %>
        <img src="<%= campground.image %>">
<% }); %>

<img src="" alt="">