<% include partials/header %>
<h1>This is the campground page</h1>
<h2>nultiples</h2>

<% campgrounds.forEach(function(campground) { %>
    <div>
        <%= campground.name  %>
        <img src="<%= campground.image %>">
<% }); %>
<% include partials/footer %>
